# CRUD using SQLAlchemy Core 使用 SQLAlchemy Core 的 CRUD

SQL Expression Language is a backend neutral way to writing SQL statement using Python.

SQL 表达式语言是使用 Python 编写 SQL 语句的后端中立方式。

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from sqlalchemy import create_engine, MetaData, Table, Integer, String, \
    Column, DateTime, ForeignKey, Numeric, CheckConstraint

from datetime import datetime

metadata = MetaData()

engine = create_engine("mysql+pymysql://root:flask123@localhost/mydb")

customers = Table('customers', metadata,
    Column('id', Integer(), primary_key=True),
    Column('first_name', String(100), nullable=False),
    Column('last_name', String(100), nullable=False),
    Column('username', String(50), nullable=False),
    Column('email', String(200), nullable=False),
    Column('address', String(200), nullable=False),
    Column('town', String(50), nullable=False),
    Column('created_on', DateTime(), default=datetime.now),
    Column('updated_on', DateTime(), default=datetime.now, onupdate=datetime.now)
)


items = Table('items', metadata,
    Column('id', Integer(), primary_key=True),
    Column('name', String(200), nullable=False),
    Column('cost_price', Numeric(10, 2), nullable=False),
    Column('selling_price', Numeric(10, 2),  nullable=False),
    Column('quantity', Integer(), nullable=False),
    CheckConstraint('quantity > 0', name='quantity_check')
)


orders = Table('orders', metadata,
    Column('id', Integer(), primary_key=True),
    Column('customer_id', ForeignKey('customers.id')),
    Column('date_placed', DateTime(), default=datetime.now),
    Column('date_shipped', DateTime())
)


order_lines = Table('order_lines', metadata,
    Column('id', Integer(), primary_key=True),
    Column('order_id', ForeignKey('orders.id')),
    Column('item_id', ForeignKey('items.id')),
    Column('quantity', Integer())
)


metadata.create_all(engine)

## Inserting Records 记录插入

There are several ways to insert records into the database. The most basic way is to use the insert() method of the Table instance and pass values of the columns as keyword arguments to the values() method.

有几种方法可以将记录插入数据库。最基本的方法是使用 Table 实例的 insert ()方法，并将列的值作为关键字参数传递给 values ()方法。

In [3]:
ins = customers.insert().values(
    first_name = 'John',
    last_name = 'Green',
    username = 'johngreen',
    email = 'johngreen@mail.com',
    address = '164 Hidden Valley Road',
    town = 'Norfolk'
)

In [4]:
# To view the SQL this code would generate type the following:
# 要查看 SQL，这段代码会生成 SQL:

str(ins)

'INSERT INTO customers (first_name, last_name, username, email, address, town, created_on, updated_on) VALUES (:first_name, :last_name, :username, :email, :address, :town, :created_on, :updated_on)'

Notice that the VALUES clause contains the bind parameters (i.e a parameter of the form :name) instead of the values passed to the values() method.

注意，VALUES 子句包含绑定参数(即 form: name 的参数) ，而不是传递给 VALUES ()方法的值。

When the query is run against the database the dialect will replace the bind parameters with the actual values. The dialect will also escape the values to mitigate the risk of SQL injection.

当对数据库运行查询时，方言将用实际值替换绑定参数。方言还可以避开这些值，以减轻 SQL 注入的风险。

We can view the values that will replace the bind parameters by compiling the insert statement.

我们可以通过编译 insert 语句来查看将要替换 bind 参数的值。

In [5]:
ins.compile().params

{'first_name': 'John',
 'last_name': 'Green',
 'username': 'johngreen',
 'email': 'johngreen@mail.com',
 'address': '164 Hidden Valley Road',
 'town': 'Norfolk',
 'created_on': None,
 'updated_on': None}

We have created the insert statement but we haven't sent it to the database. To do that, call the execute() method of the Connection object.

我们已经创建了 insert 语句，但是还没有将其发送到数据库。为此，调用 Connection 对象的 execute ()方法。

In [6]:
conn = engine.connect()
conn
r = conn.execute(ins)
r

The above code inserts the following record in the customers table.

上面的代码在 customers 表中插入以下记录。

(图略)

The execute() method returns an object of type ResultProxy. The ResultProxy provides several attributes, one of them is called `inserted_primary_key` which returns the primary key of the records just inserted.

Execute ()方法返回一个 ResultProxy 类型的对象。ResultProxy 提供了几个属性，其中一个叫做 `inserted_primary_key`，它返回刚刚插入的记录的主键。

In [7]:
r.inserted_primary_key
type(r.inserted_primary_key)

[1]

list

Another way to create insert statement is to use the standalone insert() function from the sqlalchemy package.

创建 insert 语句的另一种方法是使用 sqlalchemy 包中的独立 insert ()函数。

In [8]:
# metadata.drop_all(engine)

In [8]:
from sqlalchemy import insert

ins = insert(customers).values(
    first_name = 'Katherine',
    last_name = 'Wilson',
    username = 'katwilson',
    email = 'katwilson@gmail.com',
    address = '4685 West Side Avenue',
    town = 'Peterbrugh'
)

r = conn.execute(ins)
r.inserted_primary_key

[2]

## Multiple Inserts 多重插入

Instead of passing values to the values() method as keyword arguments, we can also pass them to the execute() method.

与将值作为关键字参数传递给 values ()方法不同，我们还可以将它们传递给 execute ()方法。

In [9]:
ins = insert(customers)

r = conn.execute(ins, 
    first_name = "Tim", 
    last_name = "Snyder", 
    username = "timsnyder", 
    email = "timsnyder@mail.com",
    address = '1611 Sundown Lane',
    town = 'Langdale'
)
r.inserted_primary_key

[3]

The execute() method is quite flexible because it allows us to insert multiple rows by passing a list of dictionaries each representing a row to be inserted.

Execute ()方法非常灵活，因为它允许我们通过传递一个表示要插入的行的 ```字典列表``` 来插入多个行。

In [10]:
r = conn.execute(ins, [
        {
            "first_name": "John", 
            "last_name": "Lara", 
            "username": "johnlara", 
            "email":"johnlara@mail.com", 
            "address": "3073 Derek Drive",
            "town": "Norfolk"
        },
        {
            "first_name": "Sarah", 
            "last_name": "Tomlin", 
            "username": "sarahtomlin", 
            "email":"sarahtomlin@mail.com",
            "address": "3572 Poplar Avenue",
            "town": "Norfolk"
        },
        {
            "first_name": "Pablo", 
            "last_name": "Gibson", 
            "username": "pablogibson", 
            "email":"pablogibson@mail.com",
            "address": "3494 Murry Street",
            "town": "Peterbrugh"
        },
        {
            "first_name": "Pablo", 
            "last_name": "Lewis", 
            "username": "pablolewis", 
            "email":"pablolewis@mail.com",
            "address": "3282 Jerry Toth Drive",
            "town": "Peterbrugh"
        },
    ])

r.rowcount

4

Before moving on to the next section, let's add some records to the items, orders and order_lines table.

在继续下一部分之前，让我们向项目、订单和 order _ lines 表添加一些记录。

In [11]:
items_list = [
    {
        "name":"Chair",
        "cost_price": 9.21,
        "selling_price": 10.81,
        "quantity": 10
    },
    {
        "name":"Pen",
        "cost_price": 3.45,
        "selling_price": 4.51,
        "quantity": 3
    },
    {
        "name":"Headphone",
        "cost_price": 15.52,
        "selling_price": 16.81,
        "quantity": 50
    },
    {
        "name":"Travel Bag",
        "cost_price": 20.1,
        "selling_price": 24.21,
        "quantity": 50
    },
    {
        "name":"Keyboard",
        "cost_price": 20.12,
        "selling_price": 22.11,
        "quantity": 50
    },
    {
        "name":"Monitor",
        "cost_price": 200.14,
        "selling_price": 212.89,
        "quantity": 50
    },
    {
        "name":"Watch",
        "cost_price": 100.58,
        "selling_price": 104.41,
        "quantity": 50
    },
    {
        "name":"Water Bottle",
        "cost_price": 20.89,
        "selling_price": 25.00,
        "quantity": 50
    },
]

order_list = [
    {
        "customer_id": 1
    },
    {
        "customer_id": 1
    }
]

order_line_list = [
    {
        "order_id": 1,
        "item_id": 1,
        "quantity": 5
    }, 
    {
        "order_id": 1,
        "item_id": 2,
        "quantity": 2
    }, 
    {
        "order_id": 1,
        "item_id": 3,
        "quantity": 1
    },
    {
        "order_id": 2,
        "item_id": 1,
        "quantity": 5
    },
    {
        "order_id": 2,
        "item_id": 2,
        "quantity": 4
    },
]

r = conn.execute(insert(items), items_list)
r.rowcount
r = conn.execute(insert(orders), order_list)
r.rowcount
r = conn.execute(insert(order_lines), order_line_list)
r.rowcount

8

2

5

## Selecting Records 选择记录

To select records we use select() method of the Table object.

要选择记录，我们使用 Table 对象的 select ()方法。

In [12]:
s = customers.select()
str(s)

'SELECT customers.id, customers.first_name, customers.last_name, customers.username, customers.email, customers.address, customers.town, customers.created_on, customers.updated_on \nFROM customers'

As you can see, this query is not qualified in any way, as a result, it will return all the rows from the customers table.

正如您所看到的，这个查询无论如何都不具有限定性，因此，它将返回 customers 表中的所有行。

Another way to create SELECT query is to use the standalone select() function. It accepts a list of tables or columns from where to retrieve data.

创建 SELECT 查询的另一种方法是使用独立的 SELECT ()函数。它接受从哪里检索数据的表或列的列表。

In [13]:
from sqlalchemy import select
s = select([customers])
str(s)

'SELECT customers.id, customers.first_name, customers.last_name, customers.username, customers.email, customers.address, customers.town, customers.created_on, customers.updated_on \nFROM customers'

As usual, to send the query to the database we use the execute() method:

像往常一样，为了将查询发送到数据库，我们使用 execute ()方法:

In [14]:
r = conn.execute(s)
r.fetchall()

[(1, 'John', 'Green', 'johngreen', 'johngreen@mail.com', '164 Hidden Valley Road', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 40, 59), datetime.datetime(2021, 8, 23, 15, 40, 59)),
 (2, 'Katherine', 'Wilson', 'katwilson', 'katwilson@gmail.com', '4685 West Side Avenue', 'Peterbrugh', datetime.datetime(2021, 8, 23, 15, 50, 40), datetime.datetime(2021, 8, 23, 15, 50, 40)),
 (3, 'Tim', 'Snyder', 'timsnyder', 'timsnyder@mail.com', '1611 Sundown Lane', 'Langdale', datetime.datetime(2021, 8, 23, 15, 51, 41), datetime.datetime(2021, 8, 23, 15, 51, 41)),
 (4, 'John', 'Lara', 'johnlara', 'johnlara@mail.com', '3073 Derek Drive', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44)),
 (5, 'Sarah', 'Tomlin', 'sarahtomlin', 'sarahtomlin@mail.com', '3572 Poplar Avenue', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44)),
 (6, 'Pablo', 'Gibson', 'pablogibson', 'pablogibson@mail.com', '3494 Murry Street', 'Peterbrugh', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44)),
 (7, 'Pablo', 'Lewis', 'pablolewis', 'pablolewis@mail.com', '3282 Jerry Toth Drive', 'Peterbrugh', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44))]

The fetchall() method of the ResultProxy object returns all the records matched by the query. Once the result set is exhausted, subsequent calls to fetchall() will return an empty list.

ResultProxy 对象的 fetchall ()方法返回查询匹配的所有记录。一旦结果集用尽，对 fetchall ()的后续调用将返回一个空列表。

In [15]:
r.fetchall()

[]

The fetchall() method loads all the results into the memory at once. Thus, it is not very efficient on a large reset set. Alternatively, you can use for loop to iterate over the result set one at a time.

Fetchall ()方法立即将所有结果加载到内存中。因此，在大型复位集上它不是非常高效。或者，您可以使用 for 循环一次迭代一个结果集。

In [16]:
rs = conn.execute(s)
for row in rs:
    print(row)

(1, 'John', 'Green', 'johngreen', 'johngreen@mail.com', '164 Hidden Valley Road', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 40, 59), datetime.datetime(2021, 8, 23, 15, 40, 59))
(2, 'Katherine', 'Wilson', 'katwilson', 'katwilson@gmail.com', '4685 West Side Avenue', 'Peterbrugh', datetime.datetime(2021, 8, 23, 15, 50, 40), datetime.datetime(2021, 8, 23, 15, 50, 40))
(3, 'Tim', 'Snyder', 'timsnyder', 'timsnyder@mail.com', '1611 Sundown Lane', 'Langdale', datetime.datetime(2021, 8, 23, 15, 51, 41), datetime.datetime(2021, 8, 23, 15, 51, 41))
(4, 'John', 'Lara', 'johnlara', 'johnlara@mail.com', '3073 Derek Drive', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44))
(5, 'Sarah', 'Tomlin', 'sarahtomlin', 'sarahtomlin@mail.com', '3572 Poplar Avenue', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44))
(6, 'Pablo', 'Gibson', 'pablogibson', 'pablogibson@mail.com', '3494 Murry Street', 'Peterbrugh', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44))
(7, 'Pablo', 'Lewis', 'pablolewis', 'pablolewis@mail.com', '3282 Jerry Toth Drive', 'Peterbrugh', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44))

Here is a list of some common methods and attributes of the ResultProxy object.

下面是 ResultProxy 对象的一些常用方法和属性的列表。

| Method/Attribute 方法/属性 | Description 描述                                             |
| :------------------------- | :----------------------------------------------------------- |
| `fetchone()`               | fetch the next row from the result set. If the result set has been exhausted, subsequent calls to 从结果集中提取下一行。如果结果集已用尽，则后续调用`fetchone()` returns 回报`None`. |
| `fetchmany(size=None)`     | fetch the specified number of rows from the result set. If the result set has been exhausted, subsequent calls to 从结果集中提取指定的行数。如果结果集已用尽，则后续调用`fetchmany()` returns 回报`None`. |
| `fetchall()`               | fetch all the rows from the result set. If the result set has been exhausted, subsequent calls to 从结果集中提取所有行。如果结果集已用尽，则后续调用`fetchall()` returns 回报`None`. |
| `first()`                  | fetch the first row from the result set and close the connection. This means that after calling the first() method we can't access any other rows in the result set, until we send the query to the database again (using the execute() method). 	从结果集中取出第一行并关闭连接 方法，我们不能访问结果集中的任何其他行，直到我们再次向数据库发送查询(使用 execute() 方法) |
| `rowcount`                 | returns the number of rows in the result set. 返回结果集中的行数 |
| `keys()`                   | returns a list of columns from where data is retrieved. 返回检索数据的列的列表 |
| `scalar()`                 | fetch the first column from the first row and close the connection. If the result set is empty it returns 从第一行中取出第一列并关闭连接。如果结果集为空，则返回`None`. |

The following shell sessions demonstrates methods and attributes we just discussed in action.

下面的 shell 会话演示了我们刚才在实践中讨论的方法和属性。

In [17]:
s = select([customers])

### fetchone()

In [18]:
r = conn.execute(s)
r.fetchone()
r.fetchone()

(1, 'John', 'Green', 'johngreen', 'johngreen@mail.com', '164 Hidden Valley Road', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 40, 59), datetime.datetime(2021, 8, 23, 15, 40, 59))

(2, 'Katherine', 'Wilson', 'katwilson', 'katwilson@gmail.com', '4685 West Side Avenue', 'Peterbrugh', datetime.datetime(2021, 8, 23, 15, 50, 40), datetime.datetime(2021, 8, 23, 15, 50, 40))

### fetchmany()

In [19]:
r = conn.execute(s)
r.fetchmany(3)
r.fetchmany(5)

[(1, 'John', 'Green', 'johngreen', 'johngreen@mail.com', '164 Hidden Valley Road', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 40, 59), datetime.datetime(2021, 8, 23, 15, 40, 59)),
 (2, 'Katherine', 'Wilson', 'katwilson', 'katwilson@gmail.com', '4685 West Side Avenue', 'Peterbrugh', datetime.datetime(2021, 8, 23, 15, 50, 40), datetime.datetime(2021, 8, 23, 15, 50, 40)),
 (3, 'Tim', 'Snyder', 'timsnyder', 'timsnyder@mail.com', '1611 Sundown Lane', 'Langdale', datetime.datetime(2021, 8, 23, 15, 51, 41), datetime.datetime(2021, 8, 23, 15, 51, 41))]

[(4, 'John', 'Lara', 'johnlara', 'johnlara@mail.com', '3073 Derek Drive', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44)),
 (5, 'Sarah', 'Tomlin', 'sarahtomlin', 'sarahtomlin@mail.com', '3572 Poplar Avenue', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44)),
 (6, 'Pablo', 'Gibson', 'pablogibson', 'pablogibson@mail.com', '3494 Murry Street', 'Peterbrugh', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44)),
 (7, 'Pablo', 'Lewis', 'pablolewis', 'pablolewis@mail.com', '3282 Jerry Toth Drive', 'Peterbrugh', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44))]

### first()

In [21]:
r = conn.execute(s)
r.first()
# r.first()  # the connection is now closed, the subsequent call to first() will result in an error

(1, 'John', 'Green', 'johngreen', 'johngreen@mail.com', '164 Hidden Valley Road', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 40, 59), datetime.datetime(2021, 8, 23, 15, 40, 59))

In [24]:
r.first()  # ResourceClosedError: This result object is closed.

ResourceClosedError: This result object is closed.

### rowcount  returns the number of rows in the result set. 返回结果集中的行数

In [26]:
r = conn.execute(s)
r.rowcount

7

### keys() returns a list of columns from where data is retrieved. 返回检索数据的列的列表

In [27]:
r.keys()

['id',
 'first_name',
 'last_name',
 'username',
 'email',
 'address',
 'town',
 'created_on',
 'updated_on']

### scalar() fetch the first column from the first row and close the connection. If the result set is empty it returns 从第一行中取出第一列并关闭连接。如果结果集为空，则返回None.

In [29]:
r.scalar()

1

t is important to note that rows returns by methods fetchxxx() and first() are not tuples or dictionaries, instead, it is an object of type RowProxy, which allows us to access data in the row using column name, index position or Column instance. For example:

需要注意的是，方法 fetchxxx ()和 first ()返回的行不是元组或字典，而是 RowProxy 类型的对象，它允许我们使用列名、索引位置或 Column 实例访问行中的数据。例如:

In [32]:
r = conn.execute(s)
row = r.fetchone()
row
type(row)  # sqlalchemy.engine.result.RowProxy
row['id'], row['first_name']    # access column data via column name 访问数据通过列名
row[0], row[1]    # access column data via column index position 访问数据通过索引位置号
row[customers.c.id], row[customers.c.first_name]    # access column data via Column object 通过Column对象访问Column数据
row.id, row.first_name    # access column data via attribute 通过属性访问Column数据

(1, 'John', 'Green', 'johngreen', 'johngreen@mail.com', '164 Hidden Valley Road', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 40, 59), datetime.datetime(2021, 8, 23, 15, 40, 59))

sqlalchemy.engine.result.RowProxy

(1, 'John')

(1, 'John')

(1, 'John')

(1, 'John')

To access data from multiple tables simply pass comma separated list of Table instances to the select() function.

要访问多个表中的数据，只需将逗号分隔的 Table 实例列表传递给 select ()函数。

```python
select([tableOne, tableTwo])
```

This code would return the Cartesian product of rows present in both the tables. We will learn how to create an SQL JOIN later in this chapter.

这段代码将返回两个表中的行的笛卡儿积。我们将在本章后面学习如何创建 SQL JOIN。

## Filtering Records 过滤记录

To filter records we use where() method. It accept a condition and adds a WHERE clause to the SELECT statement.

要过滤记录，我们使用 WHERE ()方法。它接受一个条件，并向 SELECT 语句添加一个 WHERE 子句。

In [34]:
s = select([items]).where(
    items.c.cost_price > 20
)

# This query will return all the items whose cost price is greater than 20.
# 此查询将返回成本价格大于20的所有项目。

str(s)
r = conn.execute(s)
r.fetchall()

'SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity \nFROM items \nWHERE items.cost_price > :cost_price_1'

[(4, 'Travel Bag', Decimal('20.10'), Decimal('24.21'), 50),
 (5, 'Keyboard', Decimal('20.12'), Decimal('22.11'), 50),
 (6, 'Monitor', Decimal('200.14'), Decimal('212.89'), 50),
 (7, 'Watch', Decimal('100.58'), Decimal('104.41'), 50),
 (8, 'Water Bottle', Decimal('20.89'), Decimal('25.00'), 50)]

We can specify additional conditions by simple chaining the where() method.

我们可以通过简单地链接 where ()方法来指定附加条件。

In [35]:
s = select([items]).\
    where(items.c.cost_price + items.c.selling_price > 50).\
    where(items.c.quantity > 10)
print(s)

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.cost_price + items.selling_price > :param_1 AND items.quantity > :quantity_1

As you can see, when we chain the where() method the conditions are ANDed together.

正如您所看到的，当我们链接 where ()方法时，条件被 组合 在一起。

So how do we specify OR or NOT conditions to our SELECT statement?

那么我们如何为 SELECT 语句指定 OR 或 NOT 条件呢？

It turns out that instead of chaining where() method there are two other ways to combine conditions:

结果表明，除了链接 where ()方法，还有两种其他方法可以组合条件:

Bitwise Operators. 按位运算符

Conjunctions. 连词

Let's start with the first one.

让我们从第一个开始。

### Bitwise Operators 按位运算符

Bitwise Operators &, | and ~ allow us to connect conditions with SQL AND, OR and NOT operators respectively.

按位运算符 & 、 | 和 ~ 允许我们分别使用 SQL 的 AND、 OR 和 NOT 运算符连接条件。

The preceding query can be coded using bitwise operators as follows:

前面的查询可以使用按位运算符编码，如下所示:

In [39]:
s = select([items]).\
where(
    (items.c.cost_price > 200 ) &  # 和
    (items.c.quantity < 5)
) 
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.cost_price > :cost_price_1 OR items.quantity < :quantity_1

[(2, 'Pen', Decimal('3.45'), Decimal('4.51'), 3),
 (6, 'Monitor', Decimal('200.14'), Decimal('212.89'), 50)]

 Notice that the conditions are wrapped using parentheses, this is because the precedence of bitwise operators is greater than that of + and > operators.
 注意，条件使用括号包装，这是因为位运算符的优先级大于 + 和 > 运算符。

 下面是 or 以及 not

In [40]:
s = select([items]).\
where(
    (items.c.cost_price > 200 ) | # or 或
    (items.c.quantity < 5)
) 
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.cost_price > :cost_price_1 OR items.quantity < :quantity_1

[(2, 'Pen', Decimal('3.45'), Decimal('4.51'), 3),
 (6, 'Monitor', Decimal('200.14'), Decimal('212.89'), 50)]

In [41]:
s = select([items]).\
where(    
    ~(items.c.quantity == 50)  # ~ not 求反, 这里是不等于
) 


print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.quantity != :quantity_1

[(1, 'Chair', Decimal('9.21'), Decimal('10.81'), 10),
 (2, 'Pen', Decimal('3.45'), Decimal('4.51'), 3)]

In [42]:
s = select([items]).\
where(
    ~(items.c.quantity == 50) &
    (items.c.cost_price < 20)      # 组合使用 不等于, 并且
)
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.quantity != :quantity_1 AND items.cost_price < :cost_price_1

[(1, 'Chair', Decimal('9.21'), Decimal('10.81'), 10),
 (2, 'Pen', Decimal('3.45'), Decimal('4.51'), 3)]

### Conjunctions 连词

Another way to connect conditions is to use conjunction functions i.e and_(), or_() and not_(). This is the preferred way of defining conditions in SQLAlchemy.

连接条件的另一种方法是使用连接函数，即 _ () ，或 _ ()和不 _ ()。这是在 SQLAlchemy 中定义条件的首选方法。

Here are some examples:

In [30]:
from sqlalchemy import and_, or_, not_

In [31]:
s = select([items]).\
where(    
    and_(
        items.c.quantity >= 50,
        items.c.cost_price < 100,
    )
) 
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.quantity >= :quantity_1 AND items.cost_price < :cost_price_1

[(3, 'Headphone', Decimal('15.52'), Decimal('16.81'), 50),
 (4, 'Travel Bag', Decimal('20.10'), Decimal('24.21'), 50),
 (5, 'Keyboard', Decimal('20.12'), Decimal('22.11'), 50),
 (8, 'Water Bottle', Decimal('20.89'), Decimal('25.00'), 50)]

In [32]:
s = select([items]).\
where(    
    or_(
        items.c.quantity >= 50,
        items.c.cost_price < 100,
    )
) 
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.quantity >= :quantity_1 OR items.cost_price < :cost_price_1

[(1, 'Chair', Decimal('9.21'), Decimal('10.81'), 10),
 (2, 'Pen', Decimal('3.45'), Decimal('4.51'), 3),
 (3, 'Headphone', Decimal('15.52'), Decimal('16.81'), 50),
 (4, 'Travel Bag', Decimal('20.10'), Decimal('24.21'), 50),
 (5, 'Keyboard', Decimal('20.12'), Decimal('22.11'), 50),
 (6, 'Monitor', Decimal('200.14'), Decimal('212.89'), 50),
 (7, 'Watch', Decimal('100.58'), Decimal('104.41'), 50),
 (8, 'Water Bottle', Decimal('20.89'), Decimal('25.00'), 50)]

In [33]:
s = select([items]).\
where(    
    and_(
        items.c.quantity >= 50,
        items.c.cost_price < 100,
        not_(
            items.c.name == 'Headphone'            
        ),        
    )
)
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.quantity >= :quantity_1 AND items.cost_price < :cost_price_1 AND items.name != :name_1

[(4, 'Travel Bag', Decimal('20.10'), Decimal('24.21'), 50),
 (5, 'Keyboard', Decimal('20.12'), Decimal('22.11'), 50),
 (8, 'Water Bottle', Decimal('20.89'), Decimal('25.00'), 50)]

## Other Common Comparison Operators 其他常用的比较运算子

The following listing demonstrates how to use some other comparison operators while defining conditions in SQLAlchemy.

下面的清单演示了如何在 SQLAlchemy 中定义条件时使用其他一些比较运算符。

### IS NULL  为空

In [43]:
s = select([orders]).where(
    orders.c.date_shipped == None
)
print(s)
conn.execute(s).fetchall()

SELECT orders.id, orders.customer_id, orders.date_placed, orders.date_shipped
FROM orders
WHERE orders.date_shipped IS NULL

[(1, 1, datetime.datetime(2021, 8, 23, 15, 52, 43), None),
 (2, 1, datetime.datetime(2021, 8, 23, 15, 52, 43), None)]

### IS NOT NULL 不为空

In [46]:
s = select([orders]).where(
    orders.c.date_shipped != None
)
print(s)
conn.execute(s).fetchall()

SELECT orders.id, orders.customer_id, orders.date_placed, orders.date_shipped
FROM orders
WHERE orders.date_shipped IS NOT NULL

[]

### IN 在...中

In [47]:
s = select([customers]).where(
    customers.c.first_name.in_(["Sarah", "John"])
)
print(s)
conn.execute(s).fetchall()

SELECT customers.id, customers.first_name, customers.last_name, customers.username, customers.email, customers.address, customers.town, customers.created_on, customers.updated_on
FROM customers
WHERE customers.first_name IN (:first_name_1, :first_name_2)

[(1, 'John', 'Green', 'johngreen', 'johngreen@mail.com', '164 Hidden Valley Road', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 40, 59), datetime.datetime(2021, 8, 23, 15, 40, 59)),
 (4, 'John', 'Lara', 'johnlara', 'johnlara@mail.com', '3073 Derek Drive', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44)),
 (5, 'Sarah', 'Tomlin', 'sarahtomlin', 'sarahtomlin@mail.com', '3572 Poplar Avenue', 'Norfolk', datetime.datetime(2021, 8, 23, 15, 51, 44), datetime.datetime(2021, 8, 23, 15, 51, 44))]

### NOT IN 不在...中

In [37]:
s = select([customers]).where(
    customers.c.first_name.notin_(["Sarah", "John"])
)
print(s)
conn.execute(s).fetchall()

SELECT customers.id, customers.first_name, customers.last_name, customers.username, customers.email, customers.address, customers.town, customers.created_on, customers.updated_on
FROM customers
WHERE customers.first_name NOT IN (:first_name_1, :first_name_2)

[(2, 'Katherine', 'Wilson', 'katwilson', 'katwilson@gmail.com', '4685 West Side Avenue', 'Peterbrugh', datetime.datetime(2018, 8, 1, 17, 14, 15, 645901), datetime.datetime(2018, 8, 1, 17, 14, 15, 645936)),
 (3, 'Tim', 'Snyder', 'timsnyder', 'timsnyder@mail.com', '1611 Sundown Lane', 'Langdale', datetime.datetime(2018, 8, 1, 17, 22, 4, 349494), datetime.datetime(2018, 8, 1, 17, 22, 4, 349530)),
 (6, 'Pablo', 'Gibson', 'pablogibson', 'pablogibson@mail.com', '3494 Murry Street', 'Peterbrugh', datetime.datetime(2018, 8, 1, 17, 22, 35, 783068), datetime.datetime(2018, 8, 1, 17, 22, 35, 783077)),
 (7, 'Pablo', 'Lewis', 'pablolewis', 'pablolewis@mail.com', '3282 Jerry Toth Drive', 'Peterbrugh', datetime.datetime(2018, 8, 1, 17, 22, 35, 783086), datetime.datetime(2018, 8, 1, 17, 22, 35, 783095))]

### BETWEEN  在...中间

In [38]:
s = select([items]).where(
    items.c.cost_price.between(10, 20)
)
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.cost_price BETWEEN :cost_price_1 AND :cost_price_2

[(3, 'Headphone', Decimal('15.52'), Decimal('16.81'), 50)]

### NOT BETWEEN 不在...中间

In [39]:
s = select([items]).where(
    not_(items.c.cost_price.between(10, 20))
)
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.cost_price NOT BETWEEN :cost_price_1 AND :cost_price_2

[(1, 'Chair', Decimal('9.21'), Decimal('10.81'), 10),
 (2, 'Pen', Decimal('3.45'), Decimal('4.51'), 3),
 (4, 'Travel Bag', Decimal('20.10'), Decimal('24.21'), 50),
 (5, 'Keyboard', Decimal('20.12'), Decimal('22.11'), 50),
 (6, 'Monitor', Decimal('200.14'), Decimal('212.89'), 50),
 (7, 'Watch', Decimal('100.58'), Decimal('104.41'), 50),
 (8, 'Water Bottle', Decimal('20.89'), Decimal('25.00'), 50)]

### LIKE  类似于

In [48]:
s = select([items]).where(
    items.c.name.like("Wa%")
)
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.name LIKE :name_1

[(7, 'Watch', Decimal('100.58'), Decimal('104.41'), 50),
 (8, 'Water Bottle', Decimal('20.89'), Decimal('25.00'), 50)]

### ilike 不区分大小写的like

In [49]:
s = select([items]).where(
    items.c.name.ilike("wa%")
)
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE lower(items.name) LIKE lower(:name_1)

[(7, 'Watch', Decimal('100.58'), Decimal('104.41'), 50),
 (8, 'Water Bottle', Decimal('20.89'), Decimal('25.00'), 50)]

### NOT LIKE

In [42]:
s = select([items]).where(
    not_(items.c.name.like("wa%"))
)
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.name NOT LIKE :name_1

[(1, 'Chair', Decimal('9.21'), Decimal('10.81'), 10),
 (2, 'Pen', Decimal('3.45'), Decimal('4.51'), 3),
 (3, 'Headphone', Decimal('15.52'), Decimal('16.81'), 50),
 (4, 'Travel Bag', Decimal('20.10'), Decimal('24.21'), 50),
 (5, 'Keyboard', Decimal('20.12'), Decimal('22.11'), 50),
 (6, 'Monitor', Decimal('200.14'), Decimal('212.89'), 50),
 (7, 'Watch', Decimal('100.58'), Decimal('104.41'), 50),
 (8, 'Water Bottle', Decimal('20.89'), Decimal('25.00'), 50)]

## Ordering Result 结果排序
The order_by() method adds ORDER BY clause to the SELECT statement. It accepts one or more columns to sort by. For each column listed in the order_by() clause, you can specify whether the rows are sorted in ascending order (using asc()) or descending order (using desc()). If neither specified rows are sorted in ascending order. For example:

ORDER_BY ()方法将 orderby 子句添加到 SELECT 语句中。它接受一个或多个列进行排序。对于 order_by()子句中列出的每一列，您可以指定行是按升序排序(使用 asc())还是按降序排序(使用 desc())。如果指定的行都不按升序排序。例如:

In [50]:
s = select([items]).where(
    items.c.quantity > 10
).order_by(items.c.cost_price)
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.quantity > :quantity_1 ORDER BY items.cost_price

[(3, 'Headphone', Decimal('15.52'), Decimal('16.81'), 50),
 (4, 'Travel Bag', Decimal('20.10'), Decimal('24.21'), 50),
 (5, 'Keyboard', Decimal('20.12'), Decimal('22.11'), 50),
 (8, 'Water Bottle', Decimal('20.89'), Decimal('25.00'), 50),
 (7, 'Watch', Decimal('100.58'), Decimal('104.41'), 50),
 (6, 'Monitor', Decimal('200.14'), Decimal('212.89'), 50)]

In [51]:
from sqlalchemy import desc

s = select([items]).where(
    items.c.quantity > 10
).order_by(desc(items.c.cost_price))

print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.quantity > :quantity_1 ORDER BY items.cost_price DESC

[(6, 'Monitor', Decimal('200.14'), Decimal('212.89'), 50),
 (7, 'Watch', Decimal('100.58'), Decimal('104.41'), 50),
 (8, 'Water Bottle', Decimal('20.89'), Decimal('25.00'), 50),
 (5, 'Keyboard', Decimal('20.12'), Decimal('22.11'), 50),
 (4, 'Travel Bag', Decimal('20.10'), Decimal('24.21'), 50),
 (3, 'Headphone', Decimal('15.52'), Decimal('16.81'), 50)]

In [52]:
s = select([items]).order_by(
    items.c.quantity, 
    desc(items.c.cost_price)   # 它根据两列对行进行排序，首先是按 quantity (按升序) ，然后是按成本 _ 价格(按降序)。
)
print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items ORDER BY items.quantity, items.cost_price DESC

[(2, 'Pen', Decimal('3.45'), Decimal('4.51'), 3),
 (1, 'Chair', Decimal('9.21'), Decimal('10.81'), 10),
 (6, 'Monitor', Decimal('200.14'), Decimal('212.89'), 50),
 (7, 'Watch', Decimal('100.58'), Decimal('104.41'), 50),
 (8, 'Water Bottle', Decimal('20.89'), Decimal('25.00'), 50),
 (5, 'Keyboard', Decimal('20.12'), Decimal('22.11'), 50),
 (4, 'Travel Bag', Decimal('20.10'), Decimal('24.21'), 50),
 (3, 'Headphone', Decimal('15.52'), Decimal('16.81'), 50)]

### Limiting Results 限制结果

The limit() method adds the LIMIT clause to the SELECT statement. It accepts an integer which indicates the number of rows to return. For example:

LIMIT ()方法将 LIMIT 子句添加到 SELECT 语句中。它接受一个整数，该整数表示要返回的行数。例如:

In [53]:
s = select([items]).order_by(
    items.c.quantity
).limit(2)

print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items ORDER BY items.quantity
 LIMIT :param_1

[(2, 'Pen', Decimal('3.45'), Decimal('4.51'), 3),
 (1, 'Chair', Decimal('9.21'), Decimal('10.81'), 10)]

To specify an offset (i.e. the starting position) to the LIMIT clause use the offset() method.

要为 LIMIT 子句指定偏移量(即起始位置) ，请使用偏移量()方法。

In [54]:
s = select([items]).order_by(
    items.c.quantity
).limit(2).offset(2)

print(s)
conn.execute(s).fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items ORDER BY items.quantity
 LIMIT :param_1 OFFSET :param_2

[(3, 'Headphone', Decimal('15.52'), Decimal('16.81'), 50),
 (4, 'Travel Bag', Decimal('20.10'), Decimal('24.21'), 50)]

## Limiting Columns  限制字段

The SELECT statements we have created so far has returned data from all the columns of the table. We can limit the number of fields returned by the query by passing the name of the fields as a list to the select() function. For example:

到目前为止，我们创建的 SELECT 语句已经从表的所有列返回了数据。我们可以通过将字段名称作为列表传递给 select() 函数来限制查询返回的字段数量。例如:

In [56]:
s = select([items.c.name, items.c.quantity]).where(
    items.c.quantity ==  50
)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT items.name, items.quantity
FROM items
WHERE items.quantity = :quantity_1

['name', 'quantity']

[('Headphone', 50),
 ('Travel Bag', 50),
 ('Keyboard', 50),
 ('Monitor', 50),
 ('Watch', 50),
 ('Water Bottle', 50)]

This query returns the data only from the name and quantity columns from the items table.

此查询仅返回 items 表中的 name 和 quantity 列中的数据。

Just as in SQL, we can perform simple calculations on the rows retrieved before sending them to the output. For example:

正如在 SQL 中一样，我们可以在将检索到的行发送到输出之前对它们执行简单的计算。例如:

In [57]:
s = select([items.c.name, items.c.quantity, items.c.selling_price * 5 ]).where(
    items.c.quantity ==  50
)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT items.name, items.quantity, items.selling_price * :selling_price_1 AS anon_1
FROM items
WHERE items.quantity = :quantity_1

['name', 'quantity', 'anon_1']

[('Headphone', 50, Decimal('84.05')),
 ('Travel Bag', 50, Decimal('121.05')),
 ('Keyboard', 50, Decimal('110.55')),
 ('Monitor', 50, Decimal('1064.45')),
 ('Watch', 50, Decimal('522.05')),
 ('Water Bottle', 50, Decimal('125.00'))]

Notice that the items.c.selling_price * 5 is not an actual column, therefore, an anonymous name called anon_1 is generated to display the query result (line 5).

请注意，items.c.selling _ price * 5并不是一个实际的列，因此，将生成一个名为 anon _ 1的匿名名称来显示查询结果(第5行)。

We can assign a label to a column or expression using the label() method, which works by adding an AS subclause to the SELECT statement.

我们可以使用 label ()方法为列或表达式分配标签，该方法通过向 SELECT 语句添加 AS 子句来工作。

In [50]:
s = select([
        items.c.name, 
        items.c.quantity, 
        (items.c.selling_price * 5).label('price') 
    ]).where(
    items.c.quantity ==  50
)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT items.name, items.quantity, items.selling_price * :selling_price_1 AS price
FROM items
WHERE items.quantity = :quantity_1

['name', 'quantity', 'price']

[('Headphone', 50, Decimal('84.05')),
 ('Travel Bag', 50, Decimal('121.05')),
 ('Keyboard', 50, Decimal('110.55')),
 ('Monitor', 50, Decimal('1064.45')),
 ('Watch', 50, Decimal('522.05')),
 ('Water Bottle', 50, Decimal('125.00'))]

## Accessing Built-in Functions 访问内置函数

To access the built-in functions provided by the database we use func object. The following listing shows how to use date/time, mathematical and string functions found in PostgreSQL database.

要访问数据库提供的内置函数，我们使用 func 对象。下面的清单展示了如何使用 PostgreSQL 数据库中的日期/时间、数学和字符串函数。

In [51]:
from sqlalchemy.sql import func

c = [
    
    ##  date/time functions  ##
    
    func.timeofday(),
    func.localtime(),
    func.current_timestamp(),    
    func.date_part("month", func.now()),        
    func.now(),
    
    ##  mathematical functions  ##
    
    func.pow(4,2),
    func.sqrt(441),
    func.pi(),        
    func.floor(func.pi()),
    func.ceil(func.pi()),
    
    ##  string functions  ##
    
    func.lower("ABC"),
    func.upper("abc"),
    func.length("abc"),
    func.trim("  ab c  "),    
    func.chr(65),        
]

s = select(c)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

['timeofday_1',
 'localtime_1',
 'current_timestamp_1',
 'date_part_1',
 'now_1',
 'pow_1',
 'sqrt_1',
 'pi_1',
 'floor_1',
 'ceil_1',
 'lower_1',
 'upper_1',
 'length_1',
 'trim_1',
 'chr_1']

[('Wed Aug 01 17:58:55.627110 2018 IST', datetime.time(17, 27, 1, 784686), datetime.datetime(2018, 8, 1, 17, 27, 1, 784686, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None)), 8.0, datetime.datetime(2018, 8, 1, 17, 27, 1, 784686, tzinfo=psycopg2.tz.FixedOffsetTimezone(offset=330, name=None)), 16.0, 21.0, 3.14159265358979, 3.0, 4.0, 'abc', 'ABC', 3, 'ab c', 'A')]

You also have access to aggregate functions via the func object.

您还可以通过 func 对象访问聚合函数。

In [52]:
from sqlalchemy.sql import func

c = [ 
    func.sum(items.c.quantity),
    func.avg(items.c.quantity),    
    func.max(items.c.quantity),
    func.min(items.c.quantity),
    func.count(customers.c.id),    
]

s = select(c)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT sum(items.quantity) AS sum_1, avg(items.quantity) AS avg_1, max(items.quantity) AS max_1, min(items.quantity) AS min_1, count(customers.id) AS count_1
FROM items, customers

['sum_1', 'avg_1', 'max_1', 'min_1', 'count_1']

[(2191, Decimal('39.1250000000000000'), 50, 3, 56)]

## Grouping Results 分组结果

Grouping results is done via GROUP BY clause. It is commonly used in conjunction with the aggregate functions. We add GROUP BY clause to the select statement using group_by() method. It accepts one or more columns and groups the rows according to the values in the column. For example:

通过 groupby 子句对结果进行分组。它通常与聚合函数一起使用。我们使用 group_by ()方法将 groupby 子句添加到 select 语句中。它接受一个或多个列，并根据列中的值对行进行分组。例如:

In [53]:
from sqlalchemy.sql import func

c = [ 
    func.count("*").label('count'),         
    customers.c.town      
]

s = select(c).group_by(customers.c.town)

print(s)
conn.execute(s).fetchall()

SELECT count(:count_1) AS count, customers.town
FROM customers GROUP BY customers.town

[(1, 'Langdale'), (3, 'Peterbrugh'), (3, 'Norfolk')]

This query returns the number of customers lives in each town.

此查询返回每个城镇中的客户数量。

To filter out the results based on the values returned by aggregate functions we use having() method which adds the HAVING clause to the SELECT statement. Just like the where() clause, it accepts a condition.

为了根据聚合函数返回的值过滤掉结果，我们使用 HAVING ()方法，该方法将 HAVING 子句添加到 SELECT 语句中。就像 where ()子句一样，它接受一个条件。

In [54]:
from sqlalchemy.sql import func

c = [
    func.count("*").label('count'),
    customers.c.town      
]

s = select(c).group_by(customers.c.town).having(func.count("*") > 2)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT count(:count_1) AS count, customers.town
FROM customers GROUP BY customers.town
HAVING count(:count_2) > :count_3

['count', 'town']

[(3, 'Peterbrugh'), (3, 'Norfolk')]

In [63]:
# 同上 
from sqlalchemy.sql import func

s = select([customers.c.town,func.count("*").label('count')]).group_by(customers.c.town).having(func.count("*")> 2)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT customers.town, count(:count_1) AS count
FROM customers GROUP BY customers.town
HAVING count(:count_2) > :count_3

['town', 'count']

[('Norfolk', 3), ('Peterbrugh', 3)]

## Joins 连接

The Table instance provides the following two methods to create joins:

Table 实例提供了以下两个创建连接的方法:

join() - creates inner join - 创建内部连接
outerjoin() - creates outer join ( - 创建外部连接(LEFT OUTER JOIN to be specific) 详细说明)

The inner join returns only the rows which matches the join condition, whereas the outer join returns the rows which matches the join condition as well as some additional rows.

内部联接只返回与联接条件匹配的行，而外部联接返回与联接条件匹配的行以及一些附加行。

Both methods accept a Table instance, figures out the join condition based on the foreign key relationship and returns a JOIN construct.

这两个方法都接受 Table 实例，根据外键关系确定连接条件，并返回一个 JOIN 构造。

In [64]:
print(customers.join(orders))

customers JOIN orders ON customers.id = orders.customer_id

If the methods can't figure out the join condition correctly or you want to specify an alternate condition, you can do so by passing the join condition manually as a second argument.

如果方法不能正确地计算出连接条件，或者您希望指定替代条件，则可以通过手动将连接条件作为第二个参数传递来实现。

In [65]:
print(customers.join(items,
                 customers.c.address.like(customers.c.first_name + '%')
             )
)

customers JOIN items ON customers.address LIKE customers.first_name || :first_name_1

When we specify tables or list of columns in the select() function, SQLAlchemy automatically places those tables in the FROM clause. However, when we use join, we know exactly the tables we want in the FROM clause, so we use the select_from() method. However, if we want we can use select_from() in queries not involving joins too. For example:

当我们在 select ()函数中指定表或列列表时，SQLAlchemy 会自动将这些表放到 FROM 子句中。但是，当我们使用 join 时，我们确切地知道 FROM 子句中需要的表，因此我们使用 select _ FROM ()方法。
但是，如果需要，我们也可以在不涉及连接的查询中使用 select_from ()。例如:

In [57]:
s = select([        
    customers.c.id,
    customers.c.first_name
]).select_from(
    customers
)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT customers.id, customers.first_name
FROM customers

['id', 'first_name']

[(1, 'John'),
 (2, 'Katherine'),
 (3, 'Tim'),
 (4, 'John'),
 (5, 'Sarah'),
 (6, 'Pablo'),
 (7, 'Pablo')]

Let's use this knowledge to find all the orders placed by customer name John Green.

让我们利用这些知识来查找客户名为 John Green 的所有订单。

In [58]:
s = select([
            orders.c.id,
            orders.c.date_placed
]).select_from(
    orders.join(customers)
).where(
    and_(
        customers.c.first_name == "John",
        customers.c.last_name == "Green",
    )
)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT orders.id, orders.date_placed
FROM orders JOIN customers ON customers.id = orders.customer_id
WHERE customers.first_name = :first_name_1 AND customers.last_name = :last_name_1

['id', 'date_placed']

[(1, datetime.datetime(2018, 8, 1, 17, 23, 32, 104277)),
 (2, datetime.datetime(2018, 8, 1, 17, 23, 32, 104299))]

The preceding query only returns the order id and date_placed. Wouldn't it be better to know the items and quantity of items in each order?

前面的查询只返回订单 id 和 date _ placed。知道每个订单的项目和数量不是更好吗？

To get the items and quantity of items in each order we have to create a total of 3 joins, spanning all the way to the items table.

为了获得每个订单中的项目和项目数量，我们必须创建总共3个连接，从项目表一直到项目表。

In [59]:
s = select([        
    orders.c.id.label('order_id'),
    orders.c.date_placed,
    order_lines.c.quantity,
    items.c.name,
            
]).select_from(
    orders.join(customers).join(order_lines).join(items)
).where(
    and_(
        customers.c.first_name == "John",
        customers.c.last_name == "Green",
    )
)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT orders.id AS order_id, orders.date_placed, order_lines.quantity, items.name
FROM orders JOIN customers ON customers.id = orders.customer_id JOIN order_lines ON orders.id = order_lines.order_id JOIN items ON items.id = order_lines.item_id
WHERE customers.first_name = :first_name_1 AND customers.last_name = :last_name_1

['order_id', 'date_placed', 'quantity', 'name']

[(1, datetime.datetime(2018, 8, 1, 17, 23, 32, 104277), 5, 'Chair'),
 (1, datetime.datetime(2018, 8, 1, 17, 23, 32, 104277), 2, 'Pen'),
 (1, datetime.datetime(2018, 8, 1, 17, 23, 32, 104277), 1, 'Headphone'),
 (2, datetime.datetime(2018, 8, 1, 17, 23, 32, 104299), 5, 'Chair'),
 (2, datetime.datetime(2018, 8, 1, 17, 23, 32, 104299), 4, 'Pen')]

Finally, here is an example of how to define an outer join.

最后，这里是一个如何定义外部联接的示例。

In [60]:
s = select([        
    customers.c.first_name,
    orders.c.id,
]).select_from(
    customers.outerjoin(orders)
)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT customers.first_name, orders.id
FROM customers LEFT OUTER JOIN orders ON customers.id = orders.customer_id

['first_name', 'id']

[('John', 1),
 ('John', 2),
 ('Katherine', None),
 ('Sarah', None),
 ('Pablo', None),
 ('John', None),
 ('Tim', None),
 ('Pablo', None)]

The Table instance we pass to the outerjoin() method is placed on the right side of the outer join. As a result, the above query will return all the rows from customers table (the left table), and only the rows that meets the join condition are returned from the orders table (the right table).

我们传递给 outerjoin ()方法的 Table 实例位于外部联接的右侧。因此，上面的查询将返回 customers 表(左表)中的所有行，并且只有满足连接条件的行从 orders 表(右表)返回。

If you want all the rows from the order table but only the rows that meets the join condition from the orders table, call outerjoin() as follows:

如果需要订单表中的所有行，但只需要订单表中满足连接条件的行，请按如下方式调用 outerjoin () :

注: 相当于右连接

In [61]:
s = select([        
    customers.c.first_name,
    orders.c.id,
]).select_from(
    orders.outerjoin(customers)
)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT customers.first_name, orders.id
FROM orders LEFT OUTER JOIN customers ON customers.id = orders.customer_id

['first_name', 'id']

[('John', 1), ('John', 2)]

You can also create a FULL OUTER JOIN by passing full=True to outerjoin() method. For example:

还可以通过传递 FULL = True to outerjoin ()方法创建 FULL OUTER JOIN:

In [62]:
s = select([        
    customers.c.first_name,
    orders.c.id,
]).select_from(
    orders.outerjoin(customers, full=True)
)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT customers.first_name, orders.id
FROM orders FULL OUTER JOIN customers ON customers.id = orders.customer_id

['first_name', 'id']

[('John', 1),
 ('John', 2),
 ('Katherine', None),
 ('Sarah', None),
 ('Pablo', None),
 ('John', None),
 ('Tim', None),
 ('Pablo', None)]

## Updating Records 更新记录

Updating records is achieved using the update() function. For example, the following query updates the selling_price and quantity of Water Bottle to 30 and 60, respectively.

更新记录是通过 update ()函数实现的。例如，下面的查询将水瓶的销售价格和数量分别更新为30和60。

In [63]:
from sqlalchemy import update

s = update(items).where(
    items.c.name == 'Water Bottle'
).values(
    selling_price = 30,
    quantity = 60,
)

print(s)
rs = conn.execute(s)
rs.rowcount  # count of rows updated

UPDATE items SET selling_price=:selling_price, quantity=:quantity WHERE items.name = :name_1

1

## Deleting Records 删除记录
To delete records we use the delete() function.

要删除记录，我们使用 delete ()函数。

In [64]:
from sqlalchemy import delete

s = delete(customers).where(
    customers.c.username.like('pablo%')
)

print(s)
rs = conn.execute(s)
rs.rowcount

DELETE FROM customers WHERE customers.username LIKE :username_1

2

## Dealing with Duplicates 处理重复行
To deal with the duplicate rows in the result set we use the DISTINCT option. We can add DISTINCT option to the SELECT statement using the distinct() method. For example:

为了处理结果集中的重复行，我们使用 DISTINCT 选项。我们可以使用 DISTINCT ()方法向 SELECT 语句添加 DISTINCT 选项。例如:

In [66]:
# without DISTINCT

s = select([customers.c.town]).where(customers.c.id  < 10)
print(s)
rs = conn.execute(s)
rs.fetchall()


# with DISTINCT

s = select([customers.c.town]).where(customers.c.id  < 10).distinct()
print(s)
rs = conn.execute(s)
rs.fetchall()

SELECT customers.town
FROM customers
WHERE customers.id < :id_1

[('Norfolk',),
 ('Peterbrugh',),
 ('Langdale',),
 ('Norfolk',),
 ('Norfolk',),
 ('Peterbrugh',),
 ('Peterbrugh',)]

SELECT DISTINCT customers.town
FROM customers
WHERE customers.id < :id_1

[('Norfolk',), ('Peterbrugh',), ('Langdale',)]

Here is another example which uses distinct() option with the count() aggregate function and counts the distinct number of towns in the customers table.

下面是另一个示例，它使用 distinct ()选项和 count ()聚合函数，并计算 customers 表中的不同城镇数量。

In [67]:
from sqlalchemy import distinct

s = select([        
    func.count(distinct(customers.c.town)),
    func.count(customers.c.town)
])
print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT count(DISTINCT customers.town) AS count_1, count(customers.town) AS count_2
FROM customers

['count_1', 'count_2']

[(3, 7)]

## Casting 类型申明

Casting (converting) data from one type to another is a common operation and is done via cast() function from the sqlalchemy package.

将数据从一种类型转换为另一种类型是一种常见的操作，通过 sqlalchemy 包中的 cast ()函数完成。

In [69]:
from sqlalchemy import cast, Date

s = select([
    cast(func.pi(), Integer),
    cast(func.pi(), Numeric(10,2)),
    cast("2010-12-01", DateTime),
    cast("2010-12-01", Date),
])    

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT CAST(pi() AS INTEGER) AS anon_1, CAST(pi() AS NUMERIC(10, 2)) AS anon_2, CAST(:param_1 AS DATETIME) AS anon_3, CAST(:param_2 AS DATE) AS anon_4

['anon_1', 'anon_2', 'anon_3', 'anon_4']

[(3, Decimal('3.14'), datetime.datetime(2010, 12, 1, 0, 0), datetime.date(2010, 12, 1))]

## Unions 联合

The SQL's UNION operator allows us to combine result set of multiple SELECT statements. To add UNION operator to our SELECT statement we use union() function.

SQL 的 UNION 操作符允许我们组合多个 SELECT 语句的结果集。要将 UNION 运算符添加到 SELECT 语句中，我们使用 UNION ()函数。

In [70]:
from sqlalchemy import union

s = union(
    select([items.c.id, items.c.name]).where(items.c.name.like("Wa%")),
    select([items.c.id, items.c.name]).where(items.c.name.like("%e%")),
).order_by(desc("id"))

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT items.id, items.name
FROM items
WHERE items.name LIKE :name_1 UNION SELECT items.id, items.name
FROM items
WHERE items.name LIKE :name_2 ORDER BY id DESC

['id', 'name']

[(8, 'Water Bottle'),
 (7, 'Watch'),
 (5, 'Keyboard'),
 (4, 'Travel Bag'),
 (3, 'Headphone'),
 (2, 'Pen')]

By default, union() removes all the duplicate rows from the result set. If you want to keep the duplicates use union_all().

默认情况下，union ()从结果集中删除所有重复的行。如果要保留副本，请使用 union _ all ()。

In [71]:
from sqlalchemy import union_all

s = union_all(
    select([items.c.id, items.c.name]).where(items.c.name.like("Wa%")),
    select([items.c.id, items.c.name]).where(items.c.name.like("%e%")),
).order_by(desc("id"))


print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT items.id, items.name
FROM items
WHERE items.name LIKE :name_1 UNION ALL SELECT items.id, items.name
FROM items
WHERE items.name LIKE :name_2 ORDER BY id DESC

['id', 'name']

[(8, 'Water Bottle'),
 (8, 'Water Bottle'),
 (7, 'Watch'),
 (5, 'Keyboard'),
 (4, 'Travel Bag'),
 (3, 'Headphone'),
 (2, 'Pen')]

## Creating Subqueries 创建子查询

We can also access data from multiple tables using subqueries.

我们还可以使用子查询来访问多个表中的数据。

The following query returns the id and name of the items ordered by John Green in his first order:

下面的查询返回 John Green 第一次订购的项的 id 和名称:

In [72]:
s = select([items.c.id, items.c.name]).where(
    items.c.id.in_( 
        select([order_lines.c.item_id]).select_from(customers.join(orders).join(order_lines)).where(    
                and_(
                    customers.c.first_name == 'John',
                    customers.c.last_name == 'Green',
                    orders.c.id == 1
                )    
        )
    )
)

print(s)
rs = conn.execute(s)
rs.keys()
rs.fetchall()

SELECT items.id, items.name
FROM items
WHERE items.id IN (SELECT order_lines.item_id
FROM customers JOIN orders ON customers.id = orders.customer_id JOIN order_lines ON orders.id = order_lines.order_id
WHERE customers.first_name = :first_name_1 AND customers.last_name = :last_name_1 AND orders.id = :id_1)

['id', 'name']

[(3, 'Headphone'), (1, 'Chair'), (2, 'Pen')]

This query can also be written using JOINs as follows:

这个查询也可以用 join 编写，如下所示:

In [73]:
s = select([items.c.id, items.c.name]).select_from(customers.join(orders).join(order_lines).join(items)).where(    
        and_(
            customers.c.first_name == 'John',
            customers.c.last_name == 'Green',
            orders.c.id == 1
        )    
)

rs = conn.execute(s)
rs.keys()
rs.fetchall()

['id', 'name']

[(1, 'Chair'), (2, 'Pen'), (3, 'Headphone')]

## Raw Queries  原始查询

SQLAlchemy also gives you the flexibility to execute raw SQL using the text() function. For example, the following SELECT statement returns all the orders, along with the items ordered by John Green.

SQLAlchemy 还提供了使用 text ()函数执行原始 SQL 的灵活性。例如，下面的 SELECT 语句返回所有订单以及 John Green 订购的项目。

In [74]:
from sqlalchemy.sql import text

s = text(
"""
SELECT
    orders.id as "Order ID", orders.date_placed, items.id, items.name
FROM
    customers
INNER JOIN orders ON customers.id = orders.customer_id
INNER JOIN order_lines ON order_lines.order_id = orders.id
INNER JOIN items ON items.id= order_lines.item_id
where customers.first_name = :first_name and customers.last_name = :last_name
"""
)

print(s)
rs = conn.execute(s, first_name="John", last_name='Green')
rs.fetchall()

SELECT
    orders.id as "Order ID", orders.date_placed, items.id, items.name
FROM
    customers
INNER JOIN orders ON customers.id = orders.customer_id
INNER JOIN order_lines ON order_lines.order_id = orders.id
INNER JOIN items ON items.id= order_lines.item_id
where customers.first_name = :first_name and customers.last_name = :last_name

[(1, datetime.datetime(2018, 8, 1, 17, 23, 32, 104277), 1, 'Chair'),
 (1, datetime.datetime(2018, 8, 1, 17, 23, 32, 104277), 2, 'Pen'),
 (1, datetime.datetime(2018, 8, 1, 17, 23, 32, 104277), 3, 'Headphone'),
 (2, datetime.datetime(2018, 8, 1, 17, 23, 32, 104299), 1, 'Chair'),
 (2, datetime.datetime(2018, 8, 1, 17, 23, 32, 104299), 2, 'Pen')]

Notice that the SELECT statement contains two bind parameters: first_name and last_name. The values to these parameters is passed via the execute() method.

注意，SELECT 语句包含两个绑定参数: first _ name 和 last _ name。这些参数的值通过 execute ()方法传递。

The text() function can also be embedded inside a select() construct. For example:

Text ()函数也可以嵌入到 select ()构造中:

In [75]:
s = select([items]).where(
    text("items.name like 'Wa%'")
).order_by(text("items.id desc"))

print(s)
rs = conn.execute(s)
rs.fetchall()

SELECT items.id, items.name, items.cost_price, items.selling_price, items.quantity
FROM items
WHERE items.name like 'Wa%' ORDER BY items.id desc

[(8, 'Water Bottle', Decimal('20.89'), Decimal('30.00'), 60),
 (7, 'Watch', Decimal('100.58'), Decimal('104.41'), 50)]

Another way to execute raw SQL is to pass it directly to the execute() method. For example:

执行原始 SQL 的另一种方法是直接将其传递给 execute ()方法:

In [76]:
rs = conn.execute("select * from  orders;")
rs.fetchall()

[(1, 1, datetime.datetime(2018, 8, 1, 17, 23, 32, 104277), None),
 (2, 1, datetime.datetime(2018, 8, 1, 17, 23, 32, 104299), None)]

## Transactions 事务

A transaction is a way to execute a set of SQL statements such that either all of the statements are executed successfully or nothing at all. If any of the statement involved in the transaction fails then the database is returned to the state it was in before the transaction was initiated.

事务是一种执行一组 SQL 语句的方法，这样可以成功地执行所有语句，也可以什么都不执行。如果事务中涉及的任何语句失败，那么数据库将返回到事务启动之前的状态。

We currently have two orders in the database. To fulfill an order we need to perform following two actions:

我们目前在数据库中有两个订单。为了完成一个订单，我们需要执行以下两个操作:

Subtract the quantity of ordered items from the 方法中减去已订购项的数量items table 表
Update the 更新date_shipped column to contain the datetime value. 列来包含日期时间值
Both of these action must be performed as a unit to ensure that the data in the tables are correct.

这两个操作必须作为一个单元来执行，以确保表中的数据是正确的。

The Connection object provides a begin() method, which starts the transaction and returns an object of type Transaction. The Transaction object in turn provides rollback() and commit() method, to rollback and commit the transaction, respectively.

Connection 对象提供了一个 begin ()方法，该方法启动事务并返回 Transaction 类型的对象。Transaction 对象依次提供 rollback ()和 commit ()方法，分别用于回滚和提交事务。

In the following listing we define dispatch_order() method which accepts order_id as argument, and performs the above mentioned actions using transaction.

在下面的清单中，我们定义 dispatch _ order ()方法，该方法接受 order _ id 作为参数，并使用 transaction 执行上面提到的操作。

In [77]:
from sqlalchemy.exc import IntegrityError


def dispatch_order(order_id):

    # check whether order_id is valid or not
    r = conn.execute(select([func.count("*")]).where(orders.c.id == order_id))
    if not r.scalar():
        raise ValueError("Invalid order id: {}".format(order_id))

    # fetch items in the order
    s = select([order_lines.c.item_id, order_lines.c.quantity]).where(
        order_lines.c.order_id == order_id
    )

    rs = conn.execute(s)
    ordered_items_list = rs.fetchall()

    # start transaction
    t = conn.begin()

    try:
        for i in ordered_items_list:
            u = update(items).where(
                items.c.id == i.item_id
            ).values(quantity = items.c.quantity - i.quantity)

            rs = conn.execute(u)

        u = update(orders).where(orders.c.id == order_id).values(date_shipped=datetime.now())
        rs = conn.execute(u)
        t.commit()
        print("Transaction completed.")

    except IntegrityError as e:
        print(e)
        t.rollback()
        print("Transaction failed.")

Our first order is for 5 chairs, 2 pens and 1 headphone. Calling dispatch_order() function with order id of 1, will return the following output:

我们的第一个订单是5把椅子，2支钢笔和1个耳机。调用 dispatch _ order ()函数，其顺序 id 为1，将返回以下输出:

In [78]:
dispatch_order(1)

Transaction completed.

At this point, items and order_lines tables should look like this:

现在，items 和 order _ lines 表看起来应该是这样的:





Our next order is for 5 chairs and 4 pens, but we now only have 5 chairs and 1 pen in the stock!

我们的下一个订单是5把椅子和4支钢笔，但我们现在只有5把椅子和1支钢笔存货！

Let's try running dispatch_order() for second order and see what happens.

让我们尝试为二阶运行 dispatch _ order () ，看看会发生什么。

In [79]:
dispatch_order(2)

(psycopg2.IntegrityError) new row for relation "items" violates check constraint "quantity_check"
DETAIL:  Failing row contains (1, Chair, 9.21, 10.81, 0).
 [SQL: 'UPDATE items SET quantity=(items.quantity - %(quantity_1)s) WHERE items.id = %(id_1)s'] [parameters: {'quantity_1': 5, 'id_1': 1}] (Background on this error at: http://sqlalche.me/e/gkpj)
Transaction failed.

As expected, our shipment failed because we don't have enough pens in the stock and because we are using transaction our database is returned to the state it was in before the transaction was started.

正如预期的那样，我们的发货失败了，因为我们没有足够的钢笔在库存，因为我们正在使用事务，我们的数据库返回到它在事务开始之前的状态。

In [80]:
# metadata.drop_all(engine)

[粗翻]  2021-08-24 Fully jupyter notebook and Chinese Verion CRAFTED BY YULK