# CRUD using SQLAlchemy ORM
# 使用 SQLAlchemy ORM 的 CRUD 操作

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
from sqlalchemy import create_engine, MetaData, Table, Integer, String, \
    Column, DateTime, ForeignKey, Numeric, SmallInteger, CheckConstraint

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import relationship

from datetime import datetime

# <!-- engine = create_engine("postgres+psycopg2://postgres:pass@localhost/sqlalchemy_tuts") -->
engine = create_engine("mysql+pymysql://root:flask123@localhost/sqlalchemy_tuts")

Base = declarative_base()

class Customer(Base):
    __tablename__ = 'customers'
    id = Column(Integer(), primary_key=True)
    first_name = Column(String(100), nullable=False)
    last_name = Column(String(100), nullable=False)
    username = Column(String(50), nullable=False)
    email = Column(String(200), nullable=False)
    address = Column(String(200), nullable=False)
    town = Column(String(50), nullable=False)
    created_on = Column(DateTime(), default=datetime.now)
    updated_on = Column(DateTime(), default=datetime.now, onupdate=datetime.now)
    orders = relationship("Order", backref='customer')
    
    def __repr__(self):
        return "<Customer:{0}-{1}>".format(self.id, self.username)


class Item(Base):
    __tablename__ = 'items'
    id = Column(Integer(), primary_key=True)
    name = Column(String(200), nullable=False)
    cost_price =  Column(Numeric(10, 2), nullable=False)
    selling_price = Column(Numeric(10, 2), nullable=False)
    quantity = Column(SmallInteger(), nullable=False)
#     orders = relationship("Order", backref='customer')

    def __repr__(self):
        return "<Item:{0}-{1}>".format(self.id, self.name)    
    
    __table_args__ = (
        CheckConstraint('quantity > 0', name='quantity_check'),
    )
    

class Order(Base):
    __tablename__ = 'orders'
    id = Column(Integer(), primary_key=True)
    customer_id = Column(Integer(), ForeignKey('customers.id'))
    date_placed = Column(DateTime(), default=datetime.now, nullable=False)
    date_shipped = Column(DateTime())
#     items = relationship("OrderLine")
    
    def __repr__(self):
        return "<Order:{0}>".format(self.id)
    

class OrderLine(Base):
    __tablename__ = 'order_lines'
    id =  Column(Integer(), primary_key=True)
    order_id = Column(Integer(), ForeignKey('orders.id'))
    item_id = Column(Integer(), ForeignKey('items.id'))
    quantity = Column(SmallInteger())
    order = relationship("Order", backref='order_lines')
    item = relationship("Item")
    
    def __repr__(self):
        return "<OrderLine:{0}>".format(self.id)    

Base.metadata.drop_all(engine)
Base.metadata.create_all(engine)

# Creating Session 创建会话
When using SQLAlchemy ORM, we interact with the database using the `Session` object. The `Session` object also wraps the database connection and transaction. The transaction implicitly starts as soon as the `Session` starts communicating with the database and will remain open until the `Session` is committed, rolled back or closed.

在使用 SQLAlchemy ORM 时，我们使用 `Session` 对象与数据库进行交互。 `Session` 对象还包装了数据库连接和事务。一旦 `Session` 开始与数据库通信，事务就会隐式启动，并将保持打开状态，直到 `Session` 被提交、回滚或关闭。

One way to create a `Session` object is to use the `Session` class from the `sqlalchemy.orm` package.

创建 `Session` 对象的一种方法是使用 `sqlalchemy.orm` 包中的 `Session` 类。

In [ ]:
# 不用运行
# from sqlalchemy import create_engine
# from sqlalchemy.orm import Session
# engine = create_engine("mysql+pymysql://root:flask123@localhost/sqlalchemy_tuts")
# session = Session(bind=engine)

You will have to create the `Session` object everytime you want to communicate with the database.

每次想要与数据库通信时，您都必须创建 `Session` 对象。

The `Session` constructor accepts a number of argument to customize its working. If we choose to create Session using this method, we would have to call the `Session` constructor with the same set of parameters over and over again throughout the application.

`Session` 构造函数接受许多参数来自定义它的工作。如果我们选择使用这个方法创建 `Session` ，我们将不得不在整个应用程序中使用相同的参数集一遍又一遍地调用 `Session` 构造函数。

To make things easier, SQLAlchemy provides `sessionmaker` class which creates `Session` class with default arguments set for its constructor.

为了让事情变得更简单，SQLAlchemy 提供 `sessionmaker` 类，它创建 `Session` 类，并为其构造函数设置默认参数。

In [3]:
from sqlalchemy.orm import sessionmaker, Session
Session = sessionmaker(bind=engine)
session = Session()

You should call call `sessionmaker` once in your application at the global scope.

在应用程序中，您应该在全局范围内调用 `sessionmaker` 一次。

Once we have access to the `custom` Session class you can instantiate it as many time as you need without passing any arguments to it.

一旦我们可以访问自定义 `Session` 类，您就可以根据需要实例化它，而不需要向它传递任何参数。

`session = Session()`

Note that instantiating `Session` object doesn't instantly establish connection to the database. The connection is established only when you start sending queries to the database.

注意，实例化 `Session` 对象并不能立即建立到数据库的连接。只有当您开始向数据库发送查询时才建立连接。

Note: There is more to Session than this tutorial covers. For more details checkout the official documentation.

注意: 除了本教程所涵盖的内容之外，还有更多关于 `Session` 的内容, 请查看官方文档。

`官方文档` https://docs.sqlalchemy.org/en/13/orm/session.html?highlight=session#module-sqlalchemy.orm.session


# Inserting Data 插入数据
To create a new record using SQLAlchemy ORM, we follow these steps:
要使用 SQLAlchemy ORM 创建一个新记录，我们按照以下步骤操作:

1. Create an object. 创建一个对象

2. Add the object to the session. 将对象添加到会话中

3. Commit the session. 提交会议

Let's create two new `Customer` objects as follows:
让我们创建两个新的 `Customer` 对象，如下所示:

In [4]:
c1 = Customer(first_name = 'Toby', 
            last_name = 'Miller', 
            username = 'tmiller', 
            email = 'tmiller@example.com', 
            address = '1662 Kinney Street',
            town = 'Wolfden'
            )

c2 = Customer(first_name = 'Scott', 
            last_name = 'Harvey', 
            username = 'scottharvey', 
            email = 'scottharvey@example.com', 
            address = '424 Patterson Street',
            town = 'Beckinsdale'
            )
c1, c2

(<Customer:None-tmiller>, <Customer:None-scottharvey>)

Here we have created two Customer objects. We can access the attributes of an object using the dot(.) operator as follows:

在这里，我们创建了两个 Customer 对象。我们可以使用点(.)访问对象的属性操作符如下:

In [5]:
c1.first_name, c1.last_name
c2.first_name, c2.last_name

('Toby', 'Miller')

('Scott', 'Harvey')

Next, we add the objects to the session.

接下来，我们将对象添加到会话中。

In [6]:
session.add(c1)
session.add(c2)

Adding objects to the session doesn't actually writes them to the database, it only prepares the objects to be saved in the next commit. We can verify this by checking the primary key of the objects.

向会话中添加对象实际上并不会将它们写入数据库，它只准备在下一次提交中保存的对象。我们可以通过检查对象的主键来验证这一点。

In [8]:
c1.id, c2.id

(None, None)

The value of id attribute of both the objects is None. That means our objects are not yet saved in the database.
这两个对象的 id 属性值都是 None。这意味着我们的对象还没有保存在数据库中。

Instead of adding one object to the session at a time, we can use `add_all()` method. The `add_all()` method accepts a list of objects to be added to the session.

我们可以使用 `add_all()`方法，而不是一次向会话中添加一个对象。`add_all()` 方法接受一组要添加到会话的对象(注意类型为数组list)。

In [7]:
session.add_all([c1, c2])

Adding an object to the session multiple times doesn't throw any errors. At any time, you can view the objects added to the session using session.new.

多次向会话中添加对象不会引发任何错误。在任何时候，您都可以使用 session.new 查看添加到会话中的对象。

In [9]:
session.new

IdentitySet([<Customer:None-tmiller>, <Customer:None-scottharvey>])

Finally, to save the objects to the database call commit() method as follows:

最后，将对象保存到数据库调用 commit ()方法，如下所示:

In [10]:
session.commit()

Once you commit the transaction, the connection resources referenced by the Session object is returned to the connection pool. Subsequent operations will occur in a new transaction.

提交事务后， `Session` 对象引用的连接资源将返回到连接池。后续操作将在新事务中发生。

Accessing the `id` attribute of the `Customer` object will now return the primary key instead of `None`.

访问 `Customer` 对象的 `id` 属性现在将返回主键，而不是 `None` 。

In [11]:
c1.id, c2.id

(1, 2)

At this point, the Customer table should look like this:
此时，Customer 表应该如下所示:

![img](Selection_005-ba3cff10-46c5-4818-9456-5863e3442589.png)

Our customers haven't ordered anything. So c1.orders and c2.orders would return an empty list.

我们的客户没有订购任何东西，所以 c1.orders 和 c2.orders 将返回一个空列表。

In [12]:
c1.orders, c2.orders

([], [])

Let's add some more customers to the customers table:

让我们在客户表中添加更多的客户:

In [13]:
c3 = Customer(
            first_name = "John", 
            last_name = "Lara", 
            username = "johnlara", 
            email = "johnlara@mail.com", 
            address = "3073 Derek Drive",
            town = "Norfolk"
)

c4 = Customer(          
            first_name = "Sarah", 
            last_name = "Tomlin", 
            username = "sarahtomlin", 
            email = "sarahtomlin@mail.com",
            address = "3572 Poplar Avenue",
            town = "Norfolk"        
)

c5 = Customer(first_name = 'Toby', 
            last_name = 'Miller', 
            username = 'tmiller', 
            email = 'tmiller@example.com', 
            address = '1662 Kinney Street',
            town = 'Wolfden'
            )

c6 = Customer(first_name = 'Scott', 
            last_name = 'Harvey', 
            username = 'scottharvey', 
            email = 'scottharvey@example.com', 
            address = '424 Patterson Street',
            town = 'Beckinsdale'
            )

session.add_all([c3, c4, c5, c6])
session.commit()

Before we can take orders, let's add some products to the items table.

在接受订单之前，我们先将一些产品添加到项目表中。

In [14]:
i1 = Item(name = 'Chair', cost_price = 9.21, selling_price = 10.81, quantity = 5)
i2 = Item(name = 'Pen', cost_price = 3.45, selling_price = 4.51, quantity = 3)
i3 = Item(name = 'Headphone', cost_price = 15.52, selling_price = 16.81, quantity = 50)
i4 = Item(name = 'Travel Bag', cost_price = 20.1, selling_price = 24.21, quantity = 50)
i5 = Item(name = 'Keyboard', cost_price = 20.1, selling_price = 22.11, quantity = 50)
i6 = Item(name = 'Monitor', cost_price = 200.14, selling_price = 212.89, quantity = 50)
i7 = Item(name = 'Watch', cost_price = 100.58, selling_price = 104.41, quantity = 50)
i8 = Item(name = 'Water Bottle', cost_price = 20.89, selling_price = 25, quantity = 50)

session.add_all([i1, i2, i3, i4, i5, i6, i7, i8])
session.commit()

Create some orders now:

现在创建一些订单:

In [15]:
o1 = Order(customer = c1)
o2 = Order(customer = c1)

order_line1 = OrderLine(order = o1, item = i1, quantity =  3)
order_line2 = OrderLine(order = o1, item = i2, quantity =  2)
order_line3 = OrderLine(order = o2, item = i1, quantity =  1)
order_line4 = OrderLine(order = o2, item = i2, quantity =  4)

session.add_all([o1, o2])

session.new
session.commit()

IdentitySet([<Order:None>, <Order:None>, <OrderLine:None>, <OrderLine:None>, <OrderLine:None>, <OrderLine:None>])

Notice that we are only adding `Order` objects (i.e `o1` and `o2`) to the session. The `Order` and `OrderLine` object are associated with a one-to-many relationship. Adding an `Order` object to the session implicitly adds related `OrderLine` object to the session as well. However, even you still add the `OrderLine` object manually to the session, you will not get any error.

注意，我们只向会话中添加 `Order` 对象(即 `o1` 和 `o2` )。`Order` 和 `OrderLine` 对象与一对多关系相关联。向会话添加一个 `Order` 对象也会隐式地向会话添加相关的 `OrderLine` 对象。但是，即使您仍然手动将 `OrderLine` 对象添加到会话中，您也不会得到任何错误。

Instead of passing Order object at the time of creating OrderLine instance, we can also do this:

我们不需要在创建 `OrderLine` 实例时传递 `Order` 对象，我们也可以这样做:

In [16]:
o3 = Order(customer = c1)

orderline1 = OrderLine(item = i1, quantity = 5)
orderline2 = OrderLine(item = i2, quantity = 10)

o3.order_lines.append(orderline1)
o3.order_lines.append(orderline2)

session.add_all([o3])

session.commit()

After this commit, the `orders` and `order_lines` table should now look like this:

在这个提交之后，`order` 和 `order_lines` 表现在应该如下所示:

[]

Access the `orders` attribute of the `Customer` object again, this time you will get a non-empty list like this:

再次访问 `Customer` 对象的 `orders` 属性，这次您将得到一个非空列表，如下所示:

In [17]:
c1.orders

From the other side of the relationship, we can access the `Customer` object to which the order belongs to using the `customer` attribute on the `Order` object.

从关系的另一端，我们可以使用 `Order` 对象上的 `Customer` 属性访问订单所属的 `Customer` 对象。

In [18]:
o1.customer

The customer c1 now has two orders. To view the order lines in an order use the `order_lines` attribute of the Order object.

客户 c1 现在有两个订单。要按顺序查看订单行，请使用 `Order` 对象的 `order_lines` 属性。

In [19]:
c1.orders[0].order_lines, c1.orders[1].order_lines

([<OrderLine:1>, <OrderLine:2>], [<OrderLine:3>, <OrderLine:4>])

To access the item in an order line use item attribute.

若要访问 订单行 中的物体，请使用 item 属性。

In [20]:
for ol in c1.orders[0].order_lines:
    ol.id, ol.item, ol.quantity
    
print('-------')
    
for ol in c1.orders[1].order_lines:
    ol.id, ol.item, ol.quantity

(1, <Item:1-Chair>, 3)

(2, <Item:2-Pen>, 2)

-------

(3, <Item:1-Chair>, 1)

(4, <Item:2-Pen>, 4)

Remember that, all of this became possible because of the relationship() we defined in our models.

请记住，正是由于我们在模型中定义了关系 `relationship()` ，这一切才能成为可能。

## Querying Data 查询数据

To query database we use the query() method of the session object. The query() method returns an object of type `sqlalchemy.orm.query.Query`, simply called Query. The Query object represents the SELECT statement that will be used to query the database. The following table lists some common methods of the Query class.

要查询数据库，我们使用 `session` 对象的 query() 方法。Query() 方法返回 `sqlalchemy.orm.query.Query` 类型的对象, 以下简称为`Query`。 `Query` 对象表示用于查询数据库的 SELECT 语句。下表列出了 Query 类的一些常用方法。

| Method                        | Description                                                  |
| :---------------------------- | :----------------------------------------------------------- |
| `all()`                       | returns the result of the query (represented by `Query`) as a list. 返回查询结果(由 )作为一个列表|
| `count()`                     | returns the total number of records in the query. 返回查询中的记录总数           |
| `first()`                     | returns the first result of the query or `None`, if there are no rows in the result. 返回查询的第一个结果,如果没有发现这样的物体则返回`None` |
| `scalar()`                    | returns the first column of the first row or `None` if the result set is empty. If multiple rows are encountered it throws `MultipleResultsFound` exception. 返回第一行的第一列或者`None`--如果结果集是空的。如果遇到多行，则抛出 `MultipleResultsFound` 例外|
| `one`                         | returns exactly only row. If it encounters multiple rows it throws `MultipleResultsFound` exception. If the result set is empty it throws `NoResultFound` exception. 只返回唯一行，如果遇到多行，则抛出`MultipleResultsFound`异常, 如果结果集为空，则抛出 `NoResultFound` 例外|
| `get(pk)`                     | returns an object that matches the given primary key (pk), or `None`, if no such object is found. 返回与给定主键(pk)匹配的对象，如果没有发现这样的物体则返回`None` |
| `filter(*criterion)`          | returns a new `Query` instance after applying the `WHERE` clause to the query. 返回一个新的实例，在应用 `WHERE`子句后|
| `limit(limit)`                | return a new `Query` instance after applying the `LIMIT` clause to the query. 返回一个新的实例，在应用 `LIMIT`(有限数量)子句后|
| `offset(offset)`              | return a new `Query` instance after applying the `OFFSET` clause to the query. 返回一个新的实例，在应用 `OFFSET` (偏移)子句后|
| `order_by(*criterion)`        | return a new `Query` instance after applying `ORDER BY` clause to the query. 返回一个新的实例，在应用 `ORDER BY` 排序子句后|
| `join(*props, **kwargs)`      | return a new `Query` instance after creating SQL INNER JOIN on the query. 返回一个新的实例，在查询上创建 内连接 之后 |
| `outerjoin(*props, **kwargs)` | return a new `Query` instance after creating SQL LEFT OUTER JOIN on the query. 返回一个新的实例，在应用 左外连接 后|
| `group_by(*criterion)`        | return a new `Query` instance after adding `GROUP BY` clause to the query. 返回一个新的实例，在应用 `GROUP BY` (分组统计)子句后|
| `having(criterion)`           | return a new `Query` instance after adding `HAVING` clause to the query. 返回一个新的实例，在应用 `HAVING` (分组筛选) 子句后|

### all() 方法
In its simplest form, the query() method can take one or more model class or columns as arguments. The following code returns all the records from the customers table.

在其最简单的形式中，query()方法可以接受一个或多个模型类或列作为参数。下面的代码返回来自 `customers` 表的所有记录。

In [21]:
session.query(Customer).all()

[<Customer:1-tmiller>,
 <Customer:2-scottharvey>,
 <Customer:3-johnlara>,
 <Customer:4-sarahtomlin>,
 <Customer:5-tmiller>,
 <Customer:6-scottharvey>]

Similarly, the following code returns all the records from the `items` and `orders` table.

类似地，下面的代码返回 `items` 和 `orders` 表中的所有记录。

In [22]:
session.query(Item).all()
session.query(Order).all()

[<Item:1-Chair>,
 <Item:2-Pen>,
 <Item:3-Headphone>,
 <Item:4-Travel Bag>,
 <Item:5-Keyboard>,
 <Item:6-Monitor>,
 <Item:7-Watch>,
 <Item:8-Water Bottle>]

To get the raw SQL used to query the database simply print the `sqlalchemy.orm.query.Query` object as follows:

要获得用于查询数据库的原始 SQL，只需打印 `sqlalchemy.orm.query.Query` 对象，如下所示:

In [23]:
print(session.query(Customer))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers

Calling all() method on a large result set is inefficient instead we can use a for loop to iterate over the Query object as follows::

在大型结果集上调用 all ()方法效率低下，我们可以使用 for 循环迭代 Query 对象，如下所示:

In [24]:
q = session.query(Customer)

for c in q:
    print(c.id, c.first_name)

1 Toby
2 Scott
3 John
4 Sarah
5 Toby
6 Scott

The preceding queries have returned data from all columns of the table. We can prevent this by passing the column names explicitly to the query() method as follows:

前面的查询已从表的所有列返回数据。我们可以通过以下方式将 `列名` 显式传递给 `query()` 方法来防止这种情况:

In [25]:
session.query(Customer.id, Customer.first_name).all()

[(1, 'Toby'),
 (2, 'Scott'),
 (3, 'John'),
 (4, 'Sarah'),
 (5, 'Toby'),
 (6, 'Scott')]

### count() method 计数法

The count() method returns the number of results returned by the query.

Count ()方法返回查询返回的结果数。

In [ ]:
session.query(Customer).count() # get the total number of records in the customers table
session.query(Item).count()  # get the total number of records in the items table
session.query(Order).count()  # get the total number of records in the orders table

### first() method 第一条

The first() method returns the first result of the query or None if the query returns zero results.

First ()方法返回查询的第一个结果，如果查询结果返回零，则返回 None。

In [28]:
session.query(Customer).first()
session.query(Item).first()
session.query(Order).first()

### get() method Get() 方法

The get() method returns the instance which matches the primary key passed to it or None if no such object found.

Get ()方法返回与传递给它的主键相匹配的实例，如果没有找到这样的对象，则返回 None。

In [27]:
session.query(Customer).get(1)
session.query(Item).get(1)
session.query(Order).get(100)

### filter() method  过滤()方法

The filter() method allows us to filter the result by adding WHERE clause to the query. At the minimum, it accepts a column, an operator and a value. Here is an example:

Filter()方法允许我们通过向查询中添加 WHERE 子句来过滤结果。它至少接受一个列、一个运算符和一个值。下面是一个例子:

In [26]:
session.query(Customer).filter(Customer.first_name == 'John').all()

This query returns all the customers whose first name is John. The SQL equivalent of the query is:

此查询返回 first name 名为 John 的所有客户. 查询的 SQL 等效项是:

In [29]:
print(session.query(Customer).filter(Customer.first_name == 'John'))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.first_name = %(first_name_1)s

```sql
SELECT
    customers.id AS customers_id,
    customers.first_name AS customers_first_name,
    customers.last_name AS customers_last_name,
    customers.username AS customers_username,
    customers.email AS customers_email,
    customers.address AS customers_address,
    customers.town AS customers_town,
    customers.created_on AS customers_created_on,
    customers.updated_on AS customers_updated_on
FROM
    customers
WHERE
    customers.first_name = %(first_name_1)s
```

The string %(first_name_1)s in the WHERE clause is a placeholder and will be replaced by the actual value (i.e John) when the query is executed.

WHERE 子句中的字符串 `%(first_name_1)s` 是一个占位符，在执行查询时将被实际值(即 John)替换。

We can pass multiple filters to the filter() method and they will be joined together using SQL AND operator. For example:

我们可以向 `filter()` 方法传递多个过滤器，并且它们将使用 `sql` 的 `and` 操作符连接在一起。例如:

In [ ]:
session.query(Customer).filter(Customer.id <= 5, Customer.town == "Norfolk").all()

This query returns all the customers whose primary key is less than or equal to 5 and town name starts with Nor. Its SQL equivalent is:

此查询返回主键小于或等于 `5` 并且 镇名以 `Nor` 开头的所有客户。它的 `SQL` 对等语句是:

In [30]:
print(session.query(Customer).filter(Customer.id <= 5, Customer.town.like("Nor%")))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
WHERE customers.id <= %(id_1)s AND customers.town LIKE %(town_1)s

```sql
SELECT customers.id AS customers_id, 
customers.first_name AS customers_first_name, 
customers.last_name AS customers_last_name, 
customers.username AS customers_username, 
customers.email AS customers_email, 
customers.address AS customers_address, 
customers.town AS customers_town, 
customers.created_on AS customers_created_on, 
customers.updated_on AS customers_updated_on 
FROM customers 
WHERE customers.id <= %(id_1)s 
AND customers.town LIKE %(town_1)s
```

Another way to combine conditions is to use conjunctions (i.e. and_(), or_() and not_()). Here are some examples:

组合条件的另一种方法是使用连词(例如 `and_()`, `or_()` and `not_()`). 以下例子:

In [31]:
from sqlalchemy import or_, and_, not_

# find all customers who either live in Peterbrugh or Norfolk

session.query(Customer).filter(or_(
    Customer.town == 'Peterbrugh', 
    Customer.town == 'Norfolk'
)).all()


# find all customers whose first name is John and live in Norfolk

session.query(Customer).filter(and_(
    Customer.first_name == 'John', 
    Customer.town == 'Norfolk'
)).all()


# find all johns who don't live in Peterbrugh

session.query(Customer).filter(and_(
    Customer.first_name == 'John', 
    not_(
        Customer.town == 'Peterbrugh', 
    )
)).all()

### IS NULL 为空

In [ ]:
session.query(Order).filter(Order.date_shipped == None).all()

### IS NOT NULL 非空

In [ ]:
session.query(Order).filter(Order.date_shipped != None).all()

### IN

In [ ]:
session.query(Customer).filter(Customer.first_name.in_(['Toby', 'Sarah'])).all()

### NOT IN

In [ ]:
session.query(Customer).filter(Customer.first_name.notin_(['Toby', 'Sarah'])).all()

### BETWEEN

In [ ]:
session.query(Item).filter(Item.cost_price.between(10, 50)).all()

### NOT BETWEEN

In [ ]:
session.query(Item).filter(not_(Item.cost_price.between(10, 50))).all()

### LIKE

In [ ]:
session.query(Item).filter(Item.name.like("%r")).all()

In [ ]:
session.query(Item).filter(Item.name.ilike("w%")).all()

### NOT LIKE

In [ ]:
session.query(Item).filter(not_(Item.name.like("W%"))).all()

## limit() method 有限方法

The limit() method adds LIMIT clause to the query. It accepts the number of rows you want to return from the query.

LIMIT ()方法向查询添加 LIMIT 子句。它接受您希望从查询返回的行数。

In [ ]:
session.query(Customer).limit(2).all()
session.query(Customer).filter(Customer.address.ilike("%avenue")).limit(2).all()

In [ ]:
print(session.query(Customer).limit(2))
print(session.query(Customer).filter(Customer.address.ilike("%avenue")).limit(2))

### offset() method 偏移

The offset() method adds the OFFSET clause to the query. It accepts offset as an argument. It is commonly used with the limit() clause.

OFFSET ()方法将 OFFSET 子句添加到查询中。它接受偏移量作为参数。它通常与 limit()子句一起使用。

In [33]:
session.query(Customer).limit(2).offset(2).all()

The SQL equivalent of the above query is as follows:

上述查询的 SQL 等价物如下:

In [32]:
print(session.query(Customer).limit(2).offset(2))

SELECT customers.id AS customers_id, customers.first_name AS customers_first_name, customers.last_name AS customers_last_name, customers.username AS customers_username, customers.email AS customers_email, customers.address AS customers_address, customers.town AS customers_town, customers.created_on AS customers_created_on, customers.updated_on AS customers_updated_on
FROM customers
 LIMIT %(param_1)s, %(param_2)s

### order_by() method 排序

The order_by() method is used to order the result by adding ORDER BY clause to the query. It accepts column names on which the order should be based. By default, it sorts in ascending order.

ORDER _ BY ()方法通过向查询中添加 orderby 子句来对结果进行排序。它接受订单所基于的列名。默认情况下，它按升序排序。

In [ ]:
session.query(Item).filter(Item.name.ilike("wa%")).all()
session.query(Item).filter(Item.name.ilike("wa%")).order_by(Item.cost_price).all()

To sort in descending order use desc() function as follows:

使用 desc() 函数按降序排序如下:

In [ ]:
from sqlalchemy import desc
session.query(Item).filter(Item.name.ilike("wa%")).order_by(desc(Item.cost_price)).all()

### join() method 连接

The join() method is used to create SQL INNER JOIN. It accepts table name for which you want to create SQL JOIN.

JOIN() 方法用于创建 sqlinner JOIN。它接受要为其创建 sql join 的表名。

Let's use join() method to find all the customers who have one or more orders.

让我们使用 join() 方法来查找所有有一个或多个订单的客户。

In [ ]:
session.query(Customer).join(Order).all()

This query is equivalent to the following SQL:

此查询相当于以下 SQL:

In [ ]:
print(session.query(Customer).join(Order))

The join() method is commonly used to get the data from one or more table in a single query. For example:

Join () 方法通常用于在单个查询中从一个或多个表获取数据。例如:

In [34]:
session.query(Customer.id, Customer.username, Order.id).join(Order).all()

[(1, 'tmiller', 1), (1, 'tmiller', 2), (1, 'tmiller', 3)]

We can create SQL JOIN for more than two table by chaining join() method as follows:

通过链接 JOIN ()方法，我们可以为两个以上的表创建 SQL JOIN:

``` session.query(Table1).join(Table2).join(Table3).join(Table4).all() ```

Here is another example, which uses 3 joins to find all the items in the John Green's first order.

下面是另一个示例，它使用3个联接来查找 John Green 的第一个订单中的所有项。

In [ ]:
session.query(
    Customer.first_name, 
    Item.name, 
    Item.selling_price, 
    OrderLine.quantity
).join(Order).join(OrderLine).join(Item).filter(
    Customer.first_name == 'John',
    Customer.last_name == 'Green',
    Order.id == 1,
).all()

### outerjoin() method  外连接()方法

The outerjoin() method works just like join() but creates LEFT OUTER JOIN.

Outerjoin() 方法的工作方式与 JOIN ()类似，但是创建了 LEFT OUTER JOIN。

In [ ]:
session.query(        
    Customer.first_name,
    Order.id,
).outerjoin(Order).all()

In this query, the left table is the customers table. Thus, it will return all the rows from customers table (the left table), and only the rows that meet the join condition are returned from the orders table (the right table).

在这个查询中，左边的表是 customers 表。因此，它将返回来自 customers 表(左表)的所有行，并且只有满足连接条件的行从 orders 表(右表)返回。

You can also create a FULL OUTER JOIN by passing full=True to outerjoin() method. For example:

还可以通过传递 FULL = True to outerjoin ()方法创建 FULL OUTER JOIN:

In [ ]:
session.query(        
    Customer.first_name,
    Order.id,
).outerjoin(Order, full=True).all()

### group_by() method 分组比()法

We group results using the group_by() method. It accepts one or more columns and groups the rows according to the values in the column.

我们使用 group _ by ()方法对结果进行分组。它接受一个或多个列，并根据列中的值对行进行分组。

The following query uses join() and group_by() to count the number of orders made by john green.

下面的查询使用 join ()和 group _ by ()来计算 john green 生成的订单数量。

In [ ]:
from sqlalchemy import func

session.query(func.count(Customer.id)).join(Order).filter(
    Customer.first_name == 'John',
    Customer.last_name == 'Green',    
).group_by(Customer.id).scalar()

### having() method  有()方法
To filter out the results based on the values returned by aggregate functions we use having() method which adds the HAVING clause to the SELECT statement. Just like the where() clause, it accepts a condition.

为了根据聚合函数返回的值过滤掉结果，我们使用 HAVING ()方法，该方法将 HAVING 子句添加到 SELECT 语句中。就像 where ()子句一样，它接受一个条件。

In [ ]:
# find the number of customers lives in each town

session.query(
    func.count("*").label('town_count'),    
    Customer.town
).group_by(Customer.town).having(func.count("*") > 2).all()

## Dealing with Duplicates 去重

To deal with the duplicate rows in the result set we use the DISTINCT option. We can add DISTINCT option to the SELECT statement using the distinct() method. For example:

为了处理结果集中的重复行，我们使用 DISTINCT 选项。我们可以使用 DISTINCT ()方法向 SELECT 语句添加 DISTINCT 选项。例如:

In [ ]:
from sqlalchemy import distinct

session.query(Customer.town).filter(Customer.id  < 10).all()
session.query(Customer.town).filter(Customer.id  < 10).distinct().all()

session.query(        
    func.count(distinct(Customer.town)),
    func.count(Customer.town)
).all()

## Casting  类型申明

Casting (converting) data from one type to another is a common operation and is done via cast() function from the sqlalchemy package.

将数据从一种类型转换为另一种类型是一种常见的操作，通过 sqlalchemy 包中的 cast ()函数完成。

In [ ]:
from sqlalchemy import cast, Date, union

session.query(
    cast(func.pi(), Integer),
    cast(func.pi(), Numeric(10,2)),
    cast("2010-12-01", DateTime),
    cast("2010-12-01", Date),
).all()

## Unions 合并查询

To union queries we use the union() method of the Query object. It takes one or more queries. For example:

为了合并查询，我们使用 Query 对象的 union ()方法。它接受一个或多个查询。例如:

In [ ]:
s1 = session.query(Item.id, Item.name).filter(Item.name.like("Wa%"))
s2 = session.query(Item.id, Item.name).filter(Item.name.like("%e%"))
s1.union(s2).all()

By default, union() removes all the duplicate rows from the result set. If you want to keep the duplicates use union_all().

默认情况下，union ()从结果集中删除所有重复的行。如果要保留副本，请使用 union_all ()。

In [ ]:
s1.union_all(s2).all()

## Updating Data 更新数据

To update an object simply set its attribute to a new value, add the object to the session and commit the changes.

要更新对象，只需将其属性设置为新值，将对象添加到会话并提交更改。

In [ ]:
i = session.query(Item).get(8)
i.selling_price = 25.91
session.add(i)
session.commit()

This way we can only update a single object at a time. To update multiple rows at once use update() method of the Query object. It returns the total number of records updated. For example:

这样我们一次只能更新一个对象。使用 Query 对象的 update ()方法一次更新多个行。它返回更新的记录总数。例如:

In [ ]:
session.query(Item).filter(
    Item.name.ilike("W%")
).update({"quantity": 60}, synchronize_session='fetch')
session.commit()

## Deleting Data 删除数据

To delete an object use the delete() method of the session object. It accepts an object and marks it to be deleted in the next commit.

要删除对象，请使用会话对象的 delete ()方法。它接受一个对象，并将其标记为在下次提交时删除。

In [ ]:
i = session.query(Item).filter(Item.name == 'Monitor').one()
i
session.delete(i)
session.commit()

This commit removes the Monitor from the items table.

此提交将从 items 表中删除 Monitor。

To delete multiple records at once use the delete() method of the Query object.

使用 Query 对象的 delete ()方法一次删除多条记录。

In [ ]:
session.query(Item).filter(
    Item.name.ilike("W%")
).delete(synchronize_session='fetch')
session.commit()

## Raw Queries  原始查询语句

ORM also give you the flexibility to directly to use directly use SQL using the text() function. For example:

ORM 还提供了使用 text ()函数直接使用 SQL 的灵活性。例如:

In [ ]:
from sqlalchemy import text

session.query(Customer).filter(text("first_name = 'John'")).all()

session.query(Customer).filter(text("town like 'Nor%'")).all()

session.query(Customer).filter(text("town like 'Nor%'")).order_by(text("first_name, id desc")).all()

## Transactions 事务

A transaction is a way to execute a set of SQL statements such that either all of the statements are executed successfully or nothing at all. If any of the statement involved in the transaction fails then the database is returned to the state it was in before the transaction was initiated.

事务是一种执行一组 SQL 语句的方法，这样可以成功地执行所有语句，也可以什么都不执行。如果事务中涉及的任何语句失败，那么数据库将返回到事务启动之前的状态。

We currently have two orders in the database. The process of dispatching the order is as follows:

我们目前在数据库中有两个订单。发送订单的过程如下:

Set the shipping date in the 中设置发货日期date_shipped column in 列入orders table 表

Subtract the quantity of ordered items from the 方法中减去已订购项的数量items table 表

Both of these actions must be performed as a unit to ensure that the data in the tables are correct.

这两个操作必须作为一个单元来执行，以确保表中的数据是正确的。

In the following listing, we define dispatch_order() method which accepts order_id as an argument, and performs the above-mentioned tasks in a transaction.

在下面的清单中，我们定义 dispatch _ order ()方法，该方法接受 order _ id 作为参数，并在事务中执行上述任务。

In [ ]:
from sqlalchemy import update
from sqlalchemy.exc import IntegrityError
from datetime import datetime


def dispatch_order(order_id):

    # check whether order_id is valid or not
    order = session.query(Order).get(order_id)
    
    if not order:
        raise ValueError("Invalid order id: {}.".format(order_id))    
        
    if order.date_shipped:
        print("Order already shipped.")
        return

    try:
        for i in order.order_lines:
            i.item.quantity = i.item.quantity - i.quantity            
        
        order.date_shipped = datetime.now()                            
        session.commit()
        print("Transaction completed.")

    except IntegrityError as e:
        print(e)
        print("Rolling back ...")
        session.rollback()
        print("Transaction failed.")

Our first order is for 3 chairs and 2 pens. Calling dispatch_order() function with order id of 1, will return the following output:

我们的第一笔订单是3把椅子和2支钢笔。调用 dispatch _ order ()函数，其顺序 id 为1，将返回以下输出:

In [ ]:
dispatch_order(1)

At this point, items and order_lines tables should look like this:

现在，items 和 order _ lines 表看起来应该是这样的:

[]

[]

Our next order is for 1 chair and 4 pens, but we now only have 3 pens in the stock!

我们的下一个订单是1把椅子和4支钢笔，但我们现在只有3支钢笔存货！

Let's try running dispatch_order() for second order and see what happens.

让我们尝试为二阶运行 dispatch _ order () ，看看会发生什么。

In [ ]:
dispatch_order(2)

As expected, our shipment failed because we don't have enough pens in the stock and because we are using transaction our database is returned to the state it was in before the transaction was started.

正如预期的那样，我们的发货失败了，因为我们没有足够的钢笔在库存，因为我们正在使用事务，我们的数据库返回到它在事务开始之前的状态。

I hope this tutorial would be informative for you. If you have encountered any typo or error. Get in touch using the contact page or comment box below.

我希望这个教程能为你提供信息。如果您遇到任何打印错误或错误。请使用下面的联系页面或评论框与我们联系。

[粗翻]  2021-08-24 Fully jupyter notebook and Chinese Verion CRAFTED BY YULK